@model IEnumerable<MonoProject.MVC.Models.VehicleModelViewModel>

@{
    ViewData["Title"] = "VehicleModel";
}

<h1>VehicleModel</h1>

<p>
    @using (Html.BeginForm("", "VehicleModel", FormMethod.Get))
    {
        <div>
            <b>Search by:  </b> @Html.RadioButton("searchBy", "Name", true)<text> Name  </text>
            @Html.RadioButton("searchBy", "Abvr") <text> Abvr </text><br />
            @Html.TextBox("search")<input type="submit" value="Search" />
        </div>
    }
</p>
@if (Model != null)
{

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MakeId)
                </th>
                <th>
                    <button style="color:darkcyan;" onclick="sorting('Name', '@ViewBag.Sorting', '@ViewBag.Search', '@ViewBag.SearchBy', @ViewBag.CurrentPage, @ViewBag.PageSize)">@Html.DisplayNameFor(model => model.Name)</button>
                </th>
                <th>
                    <button style="color:darkcyan;" onclick="sorting('Abrv', '@ViewBag.Sorting', '@ViewBag.Search', '@ViewBag.SearchBy', @ViewBag.CurrentPage, @ViewBag.PageSize)">@Html.DisplayNameFor(model => model.Abrv)</button>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MakeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Abrv)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <div>
        @if (ViewBag.TotalPageCount > 1)
        {
            <ul class="paging">
                @if (ViewBag.CurrentPage > 1)
                {
                    <th>
                        <button style="color:darkcyan;" onclick="paging(1, '@ViewBag.PageSize')">First</button>
                    </th>
                }
                @if (ViewBag.CurrentPage > 1)
                {
                    <th>
                        <button style="color:darkcyan;" onclick="paging(@ViewBag.CurrentPage - 1, '@ViewBag.PageSize' )">@(@ViewBag.CurrentPage - 1)</button>
                    </th>
                }
                <th>
                    <button style="color:gray;">@ViewBag.CurrentPage</button>
                </th>
                @if (ViewBag.CurrentPage < ViewBag.TotalPageCount)
                {
                    <th>
                        <button style="color:darkcyan;" onclick="paging(@ViewBag.CurrentPage + 1, @ViewBag.PageSize )">@(@ViewBag.CurrentPage + 1)</button>
                    </th>
                }
                @if (ViewBag.CurrentPage < ViewBag.TotalPageCount)
                {
                    <th>
                        <button style="color:darkcyan;" onclick="paging(@ViewBag.TotalPageCount, '@ViewBag.PageSize')">Last</button>
                    </th>
                }
            </ul>
        }
    </div>
    <script>
        var sorting = function (sortBy, sortOrder, search, searchBy, pageNumber, pageSize) {
            if (sortOrder == "desc")
            {
                if (sortBy == "Name")
                {
                    window.location.replace("https://localhost:44391/VehicleModel?" + "sortBy=Name&sortOrder=asc" + ("&pageNumber=" + pageNumber) + ("&pageSize=" + pageSize) + (searchBy ? "&searchBy=" + searchBy : "") + (search ? "&search=" + search : ""));
                }
                else
                {
                    window.location.replace("https://localhost:44391/VehicleModel?" + "sortBy=Abrv&sortOrder=asc" + ("&pageNumber=" + pageNumber) + ("&pageSize=" + pageSize) +(searchBy ? "&searchBy=" + searchBy : "") + (search ? "&search=" + search : ""));
                }
            }
            else {
                if (sortBy == "Name")
                {
                    window.location.replace("https://localhost:44391/VehicleModel?" + "sortBy=Name&sortOrder=desc" + ("&pageNumber=" + pageNumber) + ("&pageSize=" + pageSize) +(searchBy ? "&searchBy=" + searchBy : "") + (search ? "&search=" + search : ""));
                }
                else
                {
                    window.location.replace("https://localhost:44391/VehicleModel?" + "sortBy=Abrv&sortOrder=desc" + ("&pageNumber=" + pageNumber) + ("&pageSize=" + pageSize) +(searchBy ? "&searchBy=" + searchBy : "") + (search ? "&search=" + search : ""));
                }
            };
        };
    var paging = function (pageNumber, pageSize)
        {
        '@ViewBag.Sorting' === 'asc' ? sorting('@ViewBag.SortBy', 'desc', '@ViewBag.Search', '@ViewBag.SearchBy', pageNumber, pageSize) : sorting('@ViewBag.SortBy', 'asc', '@ViewBag.Search', '@ViewBag.SearchBy', pageNumber, pageSize);
        }
    </script>
}
